:root {
    --square-side: 64px;
    --mark-size: calc(var(--square-side) / 2);
    --border-width: 1px;
}

* {
    text-align: center;
}

.board-row {
    width: calc(3 * var(--square-side));
    display: flex;
    margin: 0 auto;
}

.board-row:first-of-type .square {
    border-top-width: 0;
}

.square {
    color: black;
    background-color: inherit;
    font-size: var(--mark-size);
    border: none;
    display: block;
    height: var(--square-side);
    width: var(--square-side);
    line-height: var(--square-side);
    border-style: solid;
    border-color: grey;
    border-width: var(--border-width) 0 0 var(--border-width);
}

.square:first-child {
    border-left-width: 0;
}
